
#navmai{
    display: flex;
    background-color: #dce2f5;
}
#itemnav{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#teamnav{
    display: flex;
    min-width: 8%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    /* line-height: 3; */
    color: #1b4963;
}
#file1{
    border: none;
    background-color: pink;
    color: blue;
}
.form-control {
    display: block;
    width: 20%; 
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #327093;
}

#upload{
    background-color: #327093;
    color: #fdfdfd;
    width: 10%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(185, 184, 184); 
    margin-left: 2%;
}
#upload:hover{
    transform: scale(1.05);
    transition-duration: .5s;
    transition-timing-function: linear;
}
#maindivbtn{
    width: 90%;
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}
#tbldiv{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px #808080d9;
    margin-top: 30px;
}
#maintbldiv{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
}

#homediv{
    background-image: url(./logo-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
       /* background-size: cover; */
     height: 600px;
       width: 100%; 
}
#btntbladd{
     /* background-color: #327093; */
     color: #327093;
     /* width: 10%; */
     /* height: 35px; */
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 5px;
     cursor: pointer;
     box-shadow: 0px 0px 5px 1px rgb(185, 184, 184);
     /* margin-left: 2%; */
     font-size: 25px;
}
tr,td{
  align-items: center;
  text-align: center;
  font-weight: 500;
}
th{
    color: #145579;
}

#d_type{
    margin-right: 1%;
    font-weight: 500;
    color: #8c0606;
}
#addall{
    background-color: #a60023;
    color: #fff;
        min-width: 25%;
      height: 35px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 5px 1px #999;
        font-size: 15px;
        padding: 4px;
       
}
#addall:hover{
    border: 2px solid #A60023;
    background-color: #fff;
    color: #A60023;
    transform: scale(1.05);
    transition-duration: .5s;
    transition-timing-function: linear;
}
#addall:active{
    border: none;
    background-color: #A60023;
    color: #fff;
    transform: scale(1);
    transition-duration: .2s;
    transition-timing-function: linear;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#addall2{
background-color: #a60023;
color: #fff;
    width: 160px;
  height: 35px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px #999;
    font-size: 15px;
    padding: 4px;
   
}
#addall2:hover{
border: 2px solid #A60023;
background-color: #fff;
color: #A60023;
transform: scale(1.05);
transition-duration: .5s;
transition-timing-function: linear;
}
#addall2:active{
border: none;
background-color: #A60023;
color: #fff;
transform: scale(1);
transition-duration: .2s;
transition-timing-function: linear;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;

}

#albtndiv{
  
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
#temfile{
    margin-left: 5%;
    border: 2px solid #327093;
    width: 25%;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    box-shadow: 0 0 5px 1px #999;
}
#temfile:hover{
    border: 2px solid #327093;
    background-color: #327093;
    color: #ffffff;
    transform: scale(1.01);
    cursor: pointer;
    /* transition-duration: .5s;
    transition-timing-function: linear; */
}
#temfile:active{
    border: none;
    background-color: #327093;
    color: #fff;
    transform: scale(1);
    transition-duration: .2s;
    transition-timing-function: linear;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
a {
    color:#327093 ;
}
 a:hover{
  text-decoration: none;
}
#imgexel{
    width: 250px;
    box-shadow: 1px 1px 5px 0px #2f6e92;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgexel:hover{
    transform: scale(1.04);
    transition-duration: .5s;
    transition-timing-function: linear;
    cursor: pointer;
}
#inimg{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #160f84;
}
#txtf{
    font-size: 22px;
    font-weight: 600;
    line-height: 3;
    color: #901101;
    text-orientation: sideways;
    text-shadow: 1px 0px 1px #484343;
}
#txtf {
    font-size: 22px;
    font-weight: 600;
    line-height: 3;
    color: #2c9d6cad;
    text-orientation: sideways;
    text-shadow: 0px 1px 1px #484343;
}
.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
    background-color: beige;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
table thead tr th:nth-child(2){
    font-weight: 600;
    font-size: 15px;
   text-align: center;
     font-family: 'Cairo', sans-serif;
 }
 table thead tr th:nth-child(1){
    font-weight: 600;
    font-size: 15px;
     text-align: center;
       font-family: 'Cairo', sans-serif;
   
  }
  table thead tr th:nth-child(3){
     text-align: center;
       font-family: 'Cairo', sans-serif;
       font-weight: 600;
       font-size: 15px;
  }
  table tbody tr td:nth-child(6){
    text-align: center;
      font-family: 'Cairo', sans-serif;
      font-size: 15px;
    font-weight: 500;
 }
 table tbody tr td:nth-child(2){
    text-align: center;
      font-family: 'Cairo', sans-serif;
      font-size: 15px;
    font-weight: 500;
 }
 
 table tbody tr td:nth-child(4){
     text-align: center; 
       font-family: 'Cairo', sans-serif;
       font-size: 15px;
    font-weight: 500;
 }
 #form1{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 3%;
 }
 #in_form1{
    width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* margin-right: 18%; */
    border: 2px solid #6b9eb8;
    padding: 30px;
    border-radius: 5px;
 }
 #spn1{
    width: 30%;
    text-align: end;
    color: #327094;
    font-weight: 600;
 }
 #field{
    width: 65%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #016ba7;
    text-align: end;
    outline:none;
 }
 #in_div{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row-reverse;
    padding-bottom: 15px;
 }

 legend {
    display: block;
    width: 25%;
    /* max-width: 100%; */
    padding: 0;
    margin-bottom:5px;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    font-size: 15px;
    color: #2f6e92;
    font-weight: 600;
}
fieldset {
    border: 2px solid #76a3be;
    /* margin: 0 2px; */
    padding: 0px 5px;
    width: 45%;
    margin-bottom: 5px;
}
#filset2{
    margin-right: 5%;
}
#divch{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}
#inp_2{
    width: 30%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
    outline: none;
}
.MuiTypography-root MuiFormControlLabel-label MuiTypography-body1{
    color: #457097;
    font-weight: 600;
    font-size: 18px;
}
#rep_wen{
    color: #2f6e92;
    width: 50%;
    font-size: 22px;
    font-weight: 600;
}
#form_add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
#dat1{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 2%;
}
#spa1n{
    font-size: 20px;
    font-weight: 500;
    color: #1b4963;
}